<div class="container">
	<div class="row">
		<div class="col-md-6 col-md offset-3 panel panel-default">
			<h1 class="margin-base-vertical">DreamTeam</h1>
			<h2>I Have A Dream...</h2>
			<p class="about">Everyone has a dream. Today, nearly everyone is educated, and it is easy as ever to connect and communicate with others. We all have the power to do what we dream, and it's getting easier to find others that share the same dream. My dream is to be able to use the skills I continuously pick up to help others and leave the world better than when I found it.</p>

			<h2>What's yours?</h2>

			<div class="margin-base-vertical">
				<%= render "dreams/form" %>
			</div>

			<div class="margin-base-vertical">
				<h2>Dreams Around the World</h2>
				<%= render 'shared/feed' %>
			</div>
			
		</div>
	</div>
</div>
