@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Bilbo|Roboto:500|Open+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600);

/* http://css-tricks.com/perfect-full-page-background-image/ */

html {
	background: url('Cloud1.JPG') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

div.container {
	padding: 10px;
}

div.dream-container {
	margin-bottom: 10px;
}

p.dream {
	margin: 0px;
}

div.dream-item {
	border-style: solid;
	border-width: 2px;
	margin: 20px;
	padding: 20px;
	border-radius: 15px;

}

body {
	padding-top: 20px;
	font-size: 16px;
	/* font-family: "Open Sans", serif; */
	font-family: "Roboto", sans-serif;
	background: transparent;
}

h1 {
	/* font-family: "Abel", Arial, sans-serif; */
	font-family: "Bilbo", cursive;
	font-weight: 400;
	font-size: 80px;
	text-align: center;
	margin: 40px 0;
	padding: 40px;
}

h2 {
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	font-size: 30px;
}

p.content {
	font-family: "Abel", Arial, sans-serif;
	font-weight: 400;
	font-size: 40px;
	line-height: 1.0em;
	margin: 0px;
	padding: 0px;
	text-align: justify;
}

p.timestamp {
	text-align: right;
	margin-top: 10px;
	margin-bottom: -2.5px;
	padding: 0px;
}

/* Override B3 .panel adding a subtly transparent background */

.panel {
	background-color: rgba(255, 255, 255, 0.3);
}


.margin-base-vertical {
	margin: 40px 0;
}
